<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  <form [formGroup]="addEditForm" class="dashboard-form modal-form">

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
      <mat-error>Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" required>
      <mat-error>Requerido</mat-error>
    </mat-form-field>

    <div class="full-width">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput 
               [matDatepicker]="picker" 
               [max]="maxDate" 
               formControlName="fechaNacimiento" 
               (dateChange)="onFechaNacimientoChange($event)"
               readonly>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Requerido</mat-error>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="modal-actions">
  <button mat-button class="btn-secondary-nk" (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" class="btn-primary-nk" (click)="Grabar()" [disabled]="addEditForm.invalid">
    <mat-icon>save</mat-icon> Guardar
  </button>
</mat-dialog-actions>